---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Otros | Jorge Pedroza" description="Otra informacion">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Otros"
				tagline="Un poco más de informacion sobre mi trabajo."
			>
				<img
					width="1553"
					height="873"
					src="/assets/img6.jpg"
					alt="Jorge Pedroza at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Informacion</h2>
				<div class="content">
					<p>
					En mi perfil profesional, destaco por mi capacidad autodidacta y mi firme disposición para aprender nuevas habilidades y tecnologías. 
					 Estoy convencido de que el desconocimiento inicial de nuevas tecnologías no representa un obstáculo insuperable, sino una oportunidad para crecer y desarrollarme tanto personal como profesionalmente. Mi enfoque orientado hacia el aprendizaje continuo me impulsa a abordar proyectos con entusiasmo y determinación, buscando siempre superar expectativas y contribuir de manera significativa al equipo y a los objetivos organizacionales.
					</p>
					<p>
						Al igual que en el desarrollo de esta página web con "Astro", una herramienta que aún estoy aprendiendo pero en la que estoy poniendo todo mi esfuerzo para mejorar, he encontrado que ha sido de gran ayuda en mis trabajos anteriores de manera similar como lo fueron con proyecto con .Net, Angular, pyhton, etc.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
